{% extends "appbuilder/baselayout.html" %}

  {% block head_css %}
    <link rel="icon" type="image/png" href="/static/assets/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="/static/assets/stylesheets/superset.css" />
    {{super()}}
  {% endblock %}

  {% block head_js %}
    {{super()}}
    {% with filename="css-theme" %}
      {% include "superset/partials/_script_tag.html" %}
    {% endwith %}
  {% endblock %}

  {% block tail_js %}
    {{super()}}
    {% with filename="common" %}
      {% include "superset/partials/_script_tag.html" %}
    {% endwith %}
  {% endblock %}

{% block content %}

 <div class="container">
     <script>
        function reset_password(){

          var password_text = $.trim($('#password_text').val());
          var confirm_password_text = $.trim($('#confirmPassword_text').val());
          if (password_text  === '' || confirm_password_text === '') {
            alert("Input field/s cannot be empty.");
            return false;
          }
          if(password_text != confirm_password_text){
            alert("New Passwords do not match, please try again");
            return false;
          }

          $("#spinner_modal").modal("show");
          var address = '/qei/savepassword/' + $('#access_token_id').val()+'^'+password_text+'^'+confirm_password_text;
          window.location = address;
          $('#submit_button').prop("disabled", true);           
        }
    </script>
</div>
              
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-primary" >
            <div class="panel-heading">
                <div class="panel-title">{{_("Reset Password Form [%(email_address)s]",email_address=email_address)}}</div>
            </div>
             <div style="padding-top:30px" class="panel-body" >
            <div class="help-block">{{_("Please enter a new password. Consider using numbers and non-alphanumeric characters to make it stronger.")}}

            </div>
            <input type="hidden" value="{{access_token}}" id='access_token_id' class='h_v'>
            <div class="controls">

                <div class="input-group margin-bottom-sm">
                   <span class="input-group-addon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
                   <input required class="form-control" id="password_text" type="password" placeholder="Password">
                </div>
                <br>
                <div class="help-block">{{_("Repeat the new password.")}}
                 <div class="input-group margin-bottom-sm">
                   <span class="input-group-addon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
                   <input required class="form-control" id="confirmPassword_text" type="password" placeholder="Confirm Password">
                </div>
                <br>
                <div class="controls">
                  <div>  
                    <input class="btn btn-primary btn-block" type="submit" id="submit_button"
                    value="Save New Password" onclick="reset_password()" />
                  </div>
                </div>
            </div>
        </div>
    </div>

    <div id="spinner_modal" class="modal fade bs-example-modal-sm text-center" 
     data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" 
     aria-labelledby="qedSmallModalLabel">
       <div class="modal-dialog vertical-align-center horizontal-align-center" style="top:25%">
        <div class="vertical-align-center horizontal-align-center">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw" ></i>
       </div>
    </div>
</div> 

{% endblock %}